!.gitkeep

# App files
/app/
!/app/app.local/index.php


/docker/conf/apache/sites-available/
!/docker/conf/apache/sites-available/000-default.conf
!/docker/conf/apache/sites-available/app.local.conf


# Docker files
/docker/data/
/docker/data-sql/
/docker/logs/